<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="ROLE_SPITTER" />
		<form-login login-processing-url="/static/j_spring_security_check"
			login-page="/login" authentication-failure-url="/login?login_error=t"
			username-parameter="username" password-parameter="password" 
			default-target-url="/index"/>
		<logout logout-success-url="/login?logout" />
		<csrf />
	</http>

	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="mkyong" password="123456" authorities="ROLE_SPITTER" />
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>